extends layout

block content
  header.banner(role="banner")
    .container
      figure.logo
        img(src="/logo.png" alt="logo")

      h1
        | Василий Версус &mdash;
        span технологии &amp; дизайн

      | !{content}

  .container
    //- .tags
      each tag in site.tags
        a.tag [#{tag}]

    .posts
      h2 Записи
      each post in site.posts
        unless post.page
          a.post #{post.title}