extends layout

block content
  header.banner(role="banner")
    .container
      figure.logo
        img(src="/logo.png" alt="logo")

      h1
        | Василий Версус &mdash;
        span технологии &amp; дизайн

      | !{content}

  .container
    //- .tags
      each tag in site.tags
        a.tag [#{tag}]

    h2 Записи
    ul.posts
      each post in site.posts
        unless post.hide
          li.post
            a(href= post.url) #{post.title}
            if post.tags
              span.tags
                each tag in site.tags
                  span.tag [#{tag}]
