doctype html
block vars
- var description = 'Личный сайт-портфолио Василия Версуса, где размещаются авторские работы, произведения и проекты.'
- var keywords = 'Василий Версус, dcVersus, javascript, Веб-разработка'

html
  head
    title= title

    meta(property="og:locale" content="ru_RU")
    meta(property="og:title" content= title)
    meta(property="og:site_name" content="dcVersus")
    meta(property="og:image" content="http://dcversus.ru/logo.png")
    meta(property="og:type" content="website")
    meta(property="og:url" content="http://dcversus.ru")
    meta(property="og:description" content= description)
    meta(property="og:image" content="http://dcversus.ru/logo.png")
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content="@dcversus")
    meta(name="twitter:creator" content="@dcversus")
    meta(name="twitter:image" content="http://dcversus.ru/logo.png")
    meta(name="twitter:description" content= description)
    meta(name="twitter:title" content= title)
    meta(name="twitter:url" content="http://dcversus.ru")

    link(type="text/plain" rel="author" href="/humans.txt")
    meta(name="keywords" content= keywords)
    meta(name="description" content= description)

    meta(name="google-site-verification" content="cYZLAOAZ9AmdvhZGtg9kTe-FMEZKBMd8bHfskTH5uRs")
    meta(name="yandex-verification" content="7d63ca515f19fd81")
    meta(name='wmail-verification' content='2b5831dcbed30638')
    <!-- fIhwDC5rxkQatICn8Vp7wgIzltE -->
    link(rel="author" href="https://plus.google.com/109787739880138483064?rel=author")

    link(rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png")
    link(rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png")
    link(rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png")
    link(rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png")
    link(rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png")
    link(rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png")
    link(rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png")
    link(rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png")
    link(rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/manifest.json")
    meta(name="msapplication-TileColor" content="#85BAB4")
    meta(name="msapplication-TileImage" content="/ms-icon-144x144.png")
    meta(name="theme-color" content="#85BAB4")
    link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico")

    link(href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css')
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="stylesheet", href="/application.css")

  body
    block content

    footer.container.footer(role="footer")
      p
        | &copy; 2009-2015 dcversus &mdash;
        a(href="/about") автор
        | .

    script(src='/bundle.js')
    <!-- Yandex.Metrika counter --><script type="text/javascript"> (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter26024487 = new Ya.Metrika({ id:26024487, clickmap:true, trackLinks:true, accurateTrackBounce:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/26024487" style="position:absolute; left:-9999px;" alt="" /></div></noscript><!-- /Yandex.Metrika counter -->