extends layout

block content
  header
    .container
      a.logo(href="/")
        img(src="/logo.png" alt="logo")
      span dcversus

  .container
    h1 #{title}

    | !{content}

    if files.length
      h2 Материалы
      ul
        each file in files
          li
            a(href= file) #{file.split('/').reverse()[0]}