/* fonts */
@font-face {
  font-family: 'Circle';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/Circle300.ttf');
}

@font-face {
  font-family: 'Circle';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Circle700.ttf');
}

/* styling */
:root {
  font-family: Circle, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--base-color);
}

h1, h2, h3 {
  color: var(--dark-color);
  font-weight: 300;
}

h1 {
  margin-bottom: 4rem;
  font-size: 2rem;
}

h2 {
  margin-bottom: 2rem;
  font-size: 1.75rem;
}

h3 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

a {
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  transition: .3s;
}

a:hover {
  border-color: transparent;
  color: var(--accent-color);
}

.center {
  text-align: center;
}

hr {
  display: block;
  height: 1px;
  background: var(--light-color);
}