@import url('../../node_modules/normalize.css/normalize.css');
@import url('_typography.css');
@import url('_layout.css');
@import url('_index-page.css');

:root {
  --accent-color: #f9690e;
  --base-color: #333;
  --dark-color: #06061d;
  --light-color: #73737c;
}

::selection {
  color: white;
  background: var(--accent-color);
}
