@import 'reset-css/reset.css';
@import 'highlight.js/styles/default.css';
@import 'highlight.js/styles/github.css';
@import 'typography.css';
@import 'layout.css';
@import 'index-page.css';
@import 'post.css';

:root {
  --accent-color: #f9690e;
  --base-color: #333;
  --dark-color: #06061d;
  --light-color: #888;
}

::selection {
  color: white;
  background: var(--accent-color);
}
