/* posts */
.posts .post .tags .tag {
  margin-left: .5em;
}

.posts.hideMore .post:nth-child(n+10) {
  visibility: hidden;
  height: 0;
  margin: 0;
}

.posts .post {
  transition: .3s;
}

/* banner */
.banner {
  position: relative;
  overflow: hidden;
  background: var(--base-color);
}

.banner .logo {
  margin: 0 0 4rem;
}

.banner h1 {
  color: var(--accent-color);
  font-size: 3rem;
  line-height: 110%;
}

.banner h1 span {
  display: block;
  opacity: .6;
}

/* enter animation */
.banner figure,
.banner h1,
.banner p {
  opacity: 0;
  transform: translateY(-20px);
  animation: fadein .6s .5s 1 forwards ease-in-out;
}

.banner figure {
  animation-delay: .8s;
}

.banner h1 {
  animation-delay: 1s;
}

.banner p {
  animation-delay: 1.2s;
}

@keyframes fadein {
  0% {
    transform: translateY(-20px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}