/* fonts */
@font-face {
  font-family: 'Circle';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/Circle300.ttf');
}

@font-face {
  font-family: 'Circle';
  font-weight: 700;
  font-style: normal;
  src: url('/fonts/Circle700.ttf');
}

/* styling */
:root {
  font-family: Circle, Helvetica, sans-serif;
  font-size: 16px;
  color: var(--light-color);
}

h1,
h2,
h3 {
  color: var(--dark-color);
  font-weight: 300;
}

h1 {
  margin: 0 0 4rem;
  font-size: 2rem;
}

h2 {
  margin: 0 0 2rem;
  font-size: 1.75rem;
}

h3 {
  margin: 0 0 2rem;
  font-size: 1.5rem;
}

p + h1,
p + h2,
p + h3 {
  margin: 2rem 0 1rem;
}

a {
  cursor: pointer;
  white-space: nowrap;
  text-decoration: none;
  color: var(--accent-color);
  border-bottom: 1px solid var(--accent-color);
  transition: .3s;
}

a:hover {
  border-color: transparent;
  color: var(--accent-color);
}

p {
  margin: 0 0 1rem;
}

.center {
  text-align: center;
}

hr {
  background: var(--light-color);
  display: block;
  width: 25%;
  height: 1px;
  opacity: 0.2;
  margin: 0;
  padding: 0;
  border: 0;
}

ul {
  margin: 0 0 1rem;
}

ul li {
  margin-bottom: .5rem;
}

ul li:before {
  content: "-";
  display: inline-block;
  margin-right: 1rem;
}