@import '../~normalize.css';
@import './fonts.css';

:root {
  --accent-color: #f9690e;
  --base-color: #333;
  --schema-color: #4a4a4a;
  --base-font: GothamPro, serif;
  --header-font: Museo, sans-serif;

  color: #fff;
  background-color: var(--base-color);

  font-family: var(--base-font);
  font-weight: normal;
  font-size: 14px;
}

.light {
  --base-color: #fff;
  --schema-color: var(--accent-color);
  color: #333;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

::selection {
  color: white;
  background: var(--accent-color);
}

/*  */

.wrapper {
  margin: 0 auto;
  max-width: 100rem;
  padding: 4rem 10rem;
  position: relative;
}

.social {
  display: block;
  text-align: right;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  padding-right: 3.5rem;
  line-height: 0.9;
  height: 1rem;
}

.social:after {

}

.content {
  margin-top: 3rem;
  margin-left: 10rem;
  padding-top: 1rem;
  padding-left: 1rem;
  max-width: 60rem;
  height: 30rem;
  overflow: hidden;
}

.content .logo {
  width: 10rem;
  display: block;
  position: absolute;
  left: 9.3rem;
  margin-top: -1.3rem;
}

.content h1 {
  color: var(--accent-color);
  font-family: var(--header-font);
  font-size: 4rem;
  margin: 0;
  letter-spacing: 0.4rem;
  margin-top: 0.3rem;
  margin-bottom: 0.1rem;
}

.content h2 {
  font-weight: lighter;
  margin: 0;
  font-size: 1.7rem;
  color: var(--accent-color);
  opacity: .5;
  margin-bottom: 2rem;
}

.content p {
  line-height: 1.5rem;
  margin-bottom: 2rem;
}

.content a {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
}

.projects {
  margin-bottom: 3rem;
  font-size: 0;
}

.projects a {
  width: 10rem;
  display: inline-block;
}

.projects a.uz0 {
  position: relative;
  top: -0.5rem;
}

.projects a.tes {
  margin-left: 2rem;
}

.footer {
  margin-left: 10rem;
  padding-left: 1rem;
  opacity: .5;
}

.decoration-line {
  position: absolute;
  z-index: -1;
}

.decoration-line.type1 {
  left: 17rem;
  top: 1rem;
  width: 176.5px;
}

.decoration-line.type2 {
  left: 11.5rem;
  top: 15rem;
  width: 256px;
}

.decoration-line.type3 {
  left: 3rem;
  top: 8rem;
  width: 188.7px;
}

.decoration-line.type4 {
  left: 17rem;
  top: 35rem;
  width: 278.3px;
}

/* animation */
.content .logo svg,
.projects a svg {
  filter: drop-shadow(0 0 1rem var(--base-color));
  transition: .3s;
}

svg .active {
  animation: levitation 3.5s alternate ease-in-out infinite, light-pulse 5s infinite;
  transition: 1s;
  filter: url(#glow);
}

.uz0 svg .active {
  animation-delay: .1s;
  animation-duration: 3.8s;
}

.tes svg .active {
  animation-delay: .3s;
  animation-duration: 4.3s;
}

.content .logo:hover svg,
.projects a:hover svg {
  filter: drop-shadow(0 0 2rem var(--accent-color));
}

.decoration-line {
  opacity: .2;
  filter: grayscale(1);
  animation: color-pulse 15s infinite;
}

.decoration-line.type1 path,
.decoration-line.type1 {
  animation-delay: 3s;
}

.decoration-line.type2 path,
.decoration-line.type2 {
  animation-delay: 1s;
}

.decoration-line.type3 path,
.decoration-line.type3 {
  animation-delay: 5s;
}

.decoration-line.type4 path,
.decoration-line.type4 {
  animation-delay: 8s;
}

.decoration-line path {
  stroke: var(--base-color);
  fill: var(--accent-color);
  stroke-width: 1px;
  stroke-dasharray: 100%;
  stroke-dashoffset: 100%;
  animation: dash 15s infinite;
}

@keyframes dash {
  0%   { stroke-dashoffset: 100%; stroke-dasharray: 100% }
  50%  { stroke-dashoffset: 0; stroke-dasharray: 50% }
  100% { stroke-dashoffset: 100%; stroke-dasharray: 100% }
}

@keyframes light-pulse {
  0%   { opacity: 0.5; }
  50%  { opacity: 1; }
  100% { opacity: 0.5; }
}

@keyframes color-pulse {
  0%   { filter: grayscale(1); opacity: .2; }
  50%  { filter: grayscale(0); opacity: .5; }
  100% { filter: grayscale(1); opacity: .2; }
}

@keyframes levitation {
  0% { transform: translate(0, -0.5rem); }
  100% { transform: translate(0, .5rem); }
}
