@import '../~normalize.css';

@font-face {
  font-family: MuseoCyrl;
  src: url(fonts/MuseoCyrl.ttf);
}

@font-face {
  font-family: Gotham;
  src: url(fonts/GothamProRegular.ttf);
}

:root {
  --accent-color: #f9690e;
  --base-color: #333;
  --dark-color: #06061d;
  --light-color: #888;
  --to-left: 141px;
  --logo-size: 125px;

  color: var(--accent-color);
  background-color: var(--base-color);

  font-family: Gotham;
}

::selection {
  color: white;
  background: var(--accent-color);
}

/*  */

.wrapper {
  margin: 0 auto;
  max-width: 951px;
}

.social {
  position: absolute;
  right: 150px;
  font-size: 13px;
  top: 39px;
  text-decoration: none;
  color: #888;
  letter-spacing: -0.4px;
  word-spacing: 0px;
  display: inline-block;
}

.social:after {
  display: inline-block;
  width: 30px;
  margin-left: 10px;
  content: url("assets/Versus.svg");
  position: relative;
  vertical-align: middle;
}

.content {
  margin-top: 97px;
  position: relative;
  z-index: 9999;
}
.content .logo {
  background: url("assets/Versus.svg");
  float: left;
  width: var(--logo-size);
  height: var(--logo-size);
}
.content h1 {
  position: relative;
  z-index: 9999;
  padding-left: var(--to-left);
  padding-top: 18px;
  font-family: "MuseoCyrl";
  font-size: 55px;
  letter-spacing: 2.5px;
  margin-bottom: -20px;
}
.content h2 {
  opacity: 0.3;
  padding-left: var(--to-left);
  font-size: 22px;
  letter-spacing: -0.6px;
  margin-bottom: 33px;
}
.content p {
  padding-left: var(--to-left);
  color: #eee;
  letter-spacing: 0.15px;
  line-height: 22px;
  word-spacing: 1.6px;
  font-size: 12px;
  margin-bottom: 20px;
}

.content a {
  color: var(--accent-color);
  text-decoration: none;
}

.projects {
  position: relative;
  z-index: 9999;
  margin-left: 25px;
  margin-top: 137px;
}

.projects a {
  display: inline-block;
  width: var(--logo-size);
  height: var(--logo-size);
}

.projects a.uz0 {
  background: url("assets/Uz0.svg");
  width: calc(var(--logo-size) - 9px);
  height: calc(var(--logo-size) - 9px);
}

.projects a.tes { background: url("assets/theedgestory.svg") }

.footer {
  position: relative;
  z-index: 9999;
  margin-top: 14px;
  padding-left: var(--to-left);
  letter-spacing: 0.15px;
  line-height: 22px;
  word-spacing: 1.6px;
  font-size: 12px;
  color: #555;
}

.decoration-lines{
  position: absolute;
  left: 0px;
  top: 0px;
}

.type1{
  background: url("assets/sfema-1.svg");
  left: 285px;
  top: 27px;
  width: 158px;
  height: 110px;
  background-size: cover;
}

.type2{
  background: url("assets/sfema-2.svg");
  left: 213px;
  top: 157px;
  width: 353px;
  height: 283px;
  background-size: cover;
}

.type3{
  background: url("assets/sfema-3.svg");
  left: 134px;
  top: 120px;
  width: 169px;
  height: 544px;
  background-size: cover;
}

.type4{
  background: url("assets/sfema-4.svg");
  left: 298px;
  top: 439px;
  width: 224px;
  height: 84px;
  background-size: cover;
}
