<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="cYZLAOAZ9AmdvhZGtg9kTe-FMEZKBMd8bHfskTH5uRs" />

    <title>Василиса Версус — dcversus</title>
  </head>

  <body>
    <div id="root" class="wrapper">
      <a href="#" class="social" >Choose your destiny!</a>

      <section class="content">
        <a href="/" class="logo">
          <%= require('./assets/Versus.svg') %>
        </a>

        <h1>Василиса Версус</h1>
        <h2>ТЕХНОЛОГИИ И ДИЗАЙН</h2>
        <p>С 2009 года занимаюсь проектированием, графическим оформлением, версткой и программированием веб-интерфейсов.<br>Мои <a target="_blank" href="//github.com/dcversus">github</a> и <a target="_blank" href="//github.com/dcversus/CV">CV</a>.</p>
        <p>Был опыт гейм-дева и модмейкинга. Иногда пишу стихи, в остальное время скрипты на javascript. <br>Любые предложения и идеи, вы можете присылать на мой <a href="mailto:dcversus@gmail.com">email</a>.</p>
      </section>

      <section class="projects">
        <a target="_blank" href="//uz0.ru" class="uz0">
          <%= require('./assets/Uz0.svg') %>
        </a>
        <a target="_blank" href="//theedgestory.ru" class="tes">
          <%= require('./assets/theedgestory.svg') %>
        </a>
      </section>

      <footer class="footer">
        © 2018. Василиса Версус. Все права защищены. =)
      </footer>

      <div class="decoration-line type1">
        <%= require('./assets/sfema-1.svg') %>
      </div>

      <div class="decoration-line type2">
        <%= require('./assets/sfema-2.svg') %>
      </div>

      <div class="decoration-line type3">
        <%= require('./assets/sfema-3.svg') %>
      </div>

      <div class="decoration-line type4">
        <%= require('./assets/sfema-4.svg') %>
      </div>

      <%= require('./assets/glow-filter.svg') %>
    </div>
  </body>
</html>

